.profileManagement__header{
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 100px;
    color: #474745;
    margin: 0 0 86px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}


@media screen and (max-width: 700px){
    .profileManagement__header{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 635px){
    .profileManagement__header{
        font-size: 50px;
        line-height: 75px;
    }
}