.storiesRubrics__header{
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 100px;
    color: #3B3B3E;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .storiesRubrics__header {
        font-size: 50px;
        line-height: 75px;
    }
}

@media screen and (max-width: 800px) {
    .storiesRubrics__header {
        font-size: 40px;
        line-height: 65px;
    }
}