.adds__header{
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 64px;
    color: #3B3B3E;
    text-align: center;
    margin: 0 0 52px 0;
}


@media screen and (max-width: 635px){
    .adds__header{
        font-size: 52px;
        line-height: 64px;
    }
}