.popup__subHeader{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #3B3B3E;
    max-width: 360px;
    margin: 0 0 24px 0;
}

@media screen and (max-width: 550px){
    .popup__subHeader{
        font-size: 21px;
        line-height: 25px;
    }
}